.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.login-page{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
}

.login-btn{
  width: 100px;
  height: 30px; 
  background-color: #54e659;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.loginbtn-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.login-container h2{
  margin: 10px;
  color: black;
  font-size: 32px;
  font-style: bold;
}

.user-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 10px;
  color: white;
}

.user-name{
  margin: 10px;
  font-size: 20px;
  color: white;
}

.logout-btn{
  width: 100px;
  height: 30px; 
  background-color: rgb(239, 86, 86);
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.lobby{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  background-color: white;
  padding: 5rem;
  border-radius: 10px;
}

.form-input{
  width: 300px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid black;
}

.create-room{
  width: 150px;
  height: 40px; 
  background-color: #54e659;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.join-room{
  width: 130px;
  height: 40px;
  background-color: rgb(42, 185, 242);
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.room-id{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6px;
  padding: 5px;
}

.room-id i{
  margin: 5px;
  padding: 5px;
}

.roomId{
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

.roomId i{
  margin: 5px;
  padding: 5px;
}

.status{
  color: white;
  font-size: 20px;
  font-style: bold;
  margin: 10px;

}

.board{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34,34,34,34);
}

.board-container{
  width: 600px;
  height: 600px;
}

.square{
  width: 12.5%;
  height: 12.5%;
}

.black-square{
  background: #B59963;
}

.white-square{
  background: #F0D9B5;
}

.board-square{
  width: 100%;
  height: 100%;
}

.piece-container{
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}

.piece{
  max-width: 70%;
  max-height: 70%;
}

.promote-square{
  width: 50%;
  height: 50%;
}

.vert-text{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin: 20px;
}

.new-game{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 8px;
  border: 3px solid white;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0px 20px 0px;
  background-color: #353941;
}

.margin{
  margin: 20px;
}

.result-text{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
