.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

.board{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34,34,34,34);
}

.board-container{
  width: 600px;
  height: 600px;
}

.square{
  width: 12.5%;
  height: 12.5%;
}

.black-square{
  background: #B59963;
}

.white-square{
  background: #F0D9B5;
}

.board-square{
  width: 100%;
  height: 100%;
}

.piece-container{
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}

.piece{
  max-width: 70%;
  max-height: 70%;
}

.promote-square{
  width: 50%;
  height: 50%;
}

.vert-text{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin: 20px;
}

.new-game{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 8px;
  border: 3px solid white;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0px 20px 0px;
  background-color: #353941;
}

.margin{
  margin: 20px;
}

.result-text{
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
